.card-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 99999;
}

.card-preview-container img {
    width: 366px;
    height: 533px;
}

@media screen and (min-width: 1024px) {

    .card-preview-container img {
        width: 526px;
        height: 767px;
    }

}