.deck-maker-page .navbar-container {
    position: sticky;
    top:0
}

.deck-maker-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 250, 250);
}

.deck-maker-container .card-info-container {
    width: 100%;
    height: 37vh;

    border: 1px solid black;

    overflow: auto;
}
.card-info-container img {
    width: 140px;
    height: 204px;
}
.card-info-container p {
    font-size: 12px;
}
.card-info-container .desc-container {
    width: 100%;
    height: 4.5rem;
    overflow: auto;
}

.deck-maker-container .deck-container {
    width: 100%;
    height: 33vh;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    overflow: auto;
    position: relative;
}
.deck-container .deck-title {
    display: flex;
    gap: 2%;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: rgb(250, 250, 250);

    border-bottom: 1px solid black;
}
.deck-title input {
    border-radius: 1rem;
}

.card-frame-container {
    display: flex;
    align-items: center;
    gap: 5%;
}
.card-frame-container div {
    margin-top: 1.25%;
    padding: 0;
}
.card-frame-container h4 {
    margin: 0;
    font-size: 15px;
}

.cover-card {
    width: 35px;
    height: 51px;
    margin-left: 5%;

    cursor: pointer;
}

.main-deck-container img, .extra-deck-container img {
    width: 35px;
    height: 51px;
}

.main-deck-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    overflow: auto;
}
.extra-deck-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-bottom: 1px solid black;
}

.save-deck-container {
    display: flex;
    justify-content: space-evenly;
}
.save-deck-container .save-deck {
    border-radius: .75rem;
    background-color: gold;
}
.save-deck-container .empty-deck {
    border-radius: .75rem;
    background-color: red;
}


.deck-maker-container .search-container {
    width: 100%;
    height: 33vh;

    overflow: auto;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.search-container .filter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;

    height: 20%;

    position: relative;

    margin-bottom: 1%;
}
.filter-container .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    top: 0;
}
.input-container input {
    width: 75%;
    border-radius: 1rem;
}
.input-container select {
    width: 100%;
}
input, select {
    text-align: center;
}

.search-container .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.search-container .card-container img {
    width: 105.25px;
    height: 153.5px;
    margin-bottom: 2.5%;

    cursor: pointer;
}
.search-container .card-container h4 {
    font-size: 1rem;
    margin: 0;
}

.deck-maker-container .searched-cards-container {
    height: 74%;
    overflow: auto;
}