.navbar-container {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(236,236,236);

    width: 100%;

    padding-top: .5%;
}

.navbar-container .kc-logo {
    width: 87px;
    height: 64px;
    cursor: pointer;

    padding: 0;
    margin-left: -.5%;

    z-index: 99999;
}

.email-logout, .signup-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1%;
}