.profile-page .card-preview-container {
    z-index: 999999;
}

.delete-deck-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 999999;
}
.delete-deck-container .option-container {
    background-color: white;
    width: 75%;

    padding-top: 2.5%;
    padding-bottom: 5%;

    border-radius: 1rem;
}
.delete-deck-container .buttons {
    display: flex;
    justify-content: space-evenly;
}

.profile-page .decks-container {
    display: flex;
    flex-direction: column;
}

.profile-page .deck-container {
    display: flex;
    gap: 2%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);

    background-color: rgb(240,250,240);
    border-radius: 1rem;
}
.profile-page .deck-info {
    display: flex;
    flex-direction: column;
    height: 18rem;
}
.profile-page .deck-list {
    height: 100%;
    overflow: auto;
}

.profile-page .cover-card {
    width: 105.25px;
    height: 153.5px;

    cursor: pointer;
}

.profile-page .list-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profile-page .card-icon {
    width: 35px;
    height: 51px;

    cursor: pointer;
}
.profile-page .card-name {
    font-size: 12px;
}

.profile-page .deck-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.profile-page .edit-delete {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}
i {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .profile-page .decks-container {
        align-items: center;
    }

    .profile-page .deck-container {
        justify-content: center;
        width: 60%;
        margin-bottom: 3%;
    }

    .profile-page .cover-card {
        width: 157px;
        height: 229px;
    }

    .profile-page .card-icon {
        width: 52px;
        height: 76px;
    }

    .profile-page .card-name {
        font-size: 18px;
    }

    i {
        font-size: 24px;
    }

    .delete-deck-container .option-container {
        width: 33%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}